# Database connection string (PostgreSQL or local SQLite for development)
DATABASE_URL="file:./dev.db"
# Example PostgreSQL:
# DATABASE_URL="postgresql://user:password@localhost:5432/blogify?schema=public"

# NextAuth configuration
NEXTAUTH_SECRET="blogify-super-secret-development-jwt-key-2026"
NEXTAUTH_URL="http://localhost:3000"
